doctype html
html
    head
        style
            include style.css
    body
        div
            block content
            div.footer
                | Best regards,
                br
                | Nude team
                br
                a(href=frontendUrl) OUR WEBSITE
